* {
    box-sizing: border-box;
}

:root{
    --color1: black;
    --color2: rgb(231, 231, 231);
    --color3: rgb(95, 158, 160);
    --color4: rgb(3, 128, 133);
}

body {
    margin: 0;
    padding: 0;
    display: block;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--color2);
    border-bottom: 1px solid var(--color1);
    z-index: 10;
}

#navbar {
    width: 100%;
    height: 100%;
    align-content: center;
    font-family:'Trebuchet MS'
}

#nav-links {
    width: 100%;
    height: 100%;
}

.nav-link-outer {
    display:flex;
    float: left;
    width: calc(100% / 3);
    height: 100%;
    align-content: end;
}

.nav-link-inner {
    position: relative;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color1);
}

main {
    width: 100%;
}

#welcome-section {
    width: 100%;
    height: 100vh;
    border-bottom: 1px solid var(--color1);
    align-content: center;
    font-family:'Trebuchet MS';
    text-align: center;
}

h1, h1 a {
    border-bottom: 1px solid var(--color1);
    width: fit-content;
    font-size: 2.9rem;
    margin: 0 auto;
    text-decoration: none;
    color: var(--color4);
}

h2 {
    margin: 0 auto;
    font-size: 2rem;
    font-weight: lighter;
    color: var(--color3)
}

#projects {
    width: 100%;
    height: 100vh;
    font-family:'Trebuchet MS';
    margin-top: 10px;
    scroll-margin-top: 50px;
}

#projects h1 {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.699);
    border: none;
}

.first-row {
    display: flex;
    flex-direction: row;
    float: left;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--color4);
    
}

.img1, .img2, .img3 , .img4{
    max-width: 500px;
    object-fit: cover;
    border: 4px double var(--color1);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.img4 {
    margin-bottom: 30px;
}

footer {
    display:flow-root;
    width: 100%;
    font-family:'Trebuchet MS';
    background-color:var(--color2);
    border-top: 1px solid var(--color1);
    text-align: center;
    padding-top: 20px;
    top: 50px
}

footer h3 {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.699);
}

footer h1 {
    border: none;
    font-weight: lighter;
    color: var(--color1);
}

@media (max-width: 700px) {
    h1, h1 a{
        border: none
    }
    .title-sub-line {
        border-bottom: 1px solid var(--color1);
        margin-left: 15px;
        margin-right: 15px
    }
    .img1, .img2, .img3, .img4 {
        width: 75vw
    }
}