
html {
    background-color: white;
    margin: 0%;
    padding: 0%;
}

body{
    margin: 0%;
    padding: 0%
}
main {
    background: linear-gradient(black 0%, white 29%, white 39%, rgb(221, 221, 221));
    margin: 0%;
    padding: 0%;
    min-height: 100vh
}

figure {
    width: 355px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: black;
    ;
}

#image {
    max-width: 355px ;
    height: 200px;
}

#img-caption {
    color: grey
}

#tribute-info {
    display: flex;
    justify-content: center;
    text-wrap:initial;
    text-align: center;
}

p {
    text-indent: 20px;
    text-align: justify;
    margin: 0 10px;
}